# Create Metadata Report by Connecting to SQLServer

## 1. Create Connection

In [1]:
import pyodbc

Connection details;

In [27]:
SERVER = "WSSQL0165\DIS_PROD"
DATABASE = "DW_Research_Outputs"
#USERNAME = '<username>'
#PASSWORD = '<password>'

Establish connection;

In [28]:
conn_str = ("Driver={ODBC Driver 17 for SQL Server};" f"Server={SERVER};" f"Database={DATABASE};" "Trusted_Connection=yes;" "LoginTimeout=500;")
conn = pyodbc.connect(conn_str) 
cursor = conn.cursor()

## 2. Print data in rows using format

In [29]:
sql_query = ''
cursor.execute(sql_query)

Error: ('HY090', '[HY090] [Microsoft][ODBC Driver Manager] Invalid string or buffer length (0) (SQLExecDirectW)')

In [10]:
for var_row in lstFileLayoutTable:
    print("{ColNo:<10}{ColName:<20}{ColDesc:20}".format(**var_row))
    #print("{: >20} {: >20} {: >20}".format(**var_row))

1         Dob                 Date Of Birth
2         EventDate           Event Dat
3         Diag                Principal Diagnosis

### 2.2 Print data with headers

In [13]:
# Print Headers
print("{:<10}{:<20}{:20}".format("ColNo","ColName","ColDesc"))
print("{:<10}{:<20}{:20}".format("-----","-------","-------"))

# Print data
for var_row in lstFileLayoutTable:
    print("{ColNo:<10}{ColName:<20}{ColDesc:20}".format(**var_row))

ColNo     ColName             ColDesc
-----     -------             -------
1         Dob                 Date Of Birth
2         EventDate           Event Dat
3         Diag                Principal Diagnosis

## 3. Print data from metadata tables

In [30]:
sql_query = f'''SELECT
                        ext_def.ExtractionId extraction_id
                        ,ext_def.DataSourceId dat_id
                        ,dataset_specs.VariableName1 var1
                        ,dataset_specs.VariableName2 var2
                        ,dataset_specs.DataSourceName2 table_name_for_extraction
                        ,dataset_specs.SrcKeyField1 
                        ,dataset_specs.SrcKeyField2
                        ,dataset_specs.SrcKeyField3
                        FROM 
                        DW_Research_Outputs.MET.ProjectExtractionDefinitions ext_def
                        INNER JOIN 
                        (SELECT 
                        var_ids_req.ExtractionId
                        ,var_ids_req.Required
                        ,mapping.VariableName1
                        ,mapping.VariableName2
                        ,mapping.DataSourceName2
                        ,mapping.SrcKeyField1
                        ,mapping.SrcKeyField2
                        ,mapping.SrcKeyField3
                        FROM
                        DW_Research_Outputs.MET.ProjectExtractionVariables var_ids_req
                        LEFT JOIN (
                            SELECT 
                            join1.VariableId1
                            ,join1.VariableName1
                            ,join2.VariableName2
                            ,join2.DataSourceName2
                            ,join2.SrcKeyField1
                            ,join2.SrcKeyField2
                            ,join2.SrcKeyField3

                            FROM
                                    (SELECT	 map.RelationshipId
                                            ,map.VariableId1
                                            ,ms.VariableName VariableName1 
                                            ,ms.DataSourceId DataSourceId1
                                            ,ms.DataSourceName DataSourceName1
                                    FROM DW_Research_Outputs.[MET].[MasterVariableMap] map
                                    INNER JOIN (	SELECT 
                                                    vars.VariableId, 
                                                    vars.VariableName, 
                                                    ds.DataSourceName, 
                                                    ds.DataSourceId
                                                FROM DW_Research_Outputs.[MET].[MasterVariables] vars
                                                INNER JOIN DW_Research_Outputs.MET.MasterDataSources ds
                                                ON vars.DataSourceId=ds.DataSourceId) ms
                                                ON map.VariableId1 = ms.VariableId ) join1

                            INNER JOIN 
                                    (SELECT	
                                            map.RelationshipId
                                            ,map.VariableId2
                                            ,ms.VariableName VariableName2
                                            ,ms.DataSourceId DataSourceId2
                                            ,ms.DataSourceName DataSourceName2
                                            ,ms.SrcKeyField1
                                            ,ms.SrcKeyField2
                                            ,ms.SrcKeyField3
                                    FROM DW_Research_Outputs.[MET].[MasterVariableMap] map
                                    INNER JOIN (SELECT 
                                                    vars.VariableId, 
                                                    vars.VariableName, 
                                                    ds.DataSourceName, 
                                                    ds.DataSourceId,
                                                    ds.SrcKeyField1,
                                                    ds.SrcKeyField2,
                                                    ds.SrcKeyField3
                                                FROM DW_Research_Outputs.[MET].[MasterVariables] vars
                                                INNER JOIN DW_Research_Outputs.MET.MasterDataSources ds
                                                ON vars.DataSourceId=ds.DataSourceId) ms
                                    ON map.VariableId2 = ms.VariableId ) join2
                            ON join1.RelationshipId = join2.RelationshipId)  mapping                      
                            ON var_ids_req.VariableId = mapping.VariableId1) dataset_specs
                            ON ext_def.ExtractionId = dataset_specs.ExtractionId
                            WHERE ext_def.GroupId = 6 AND ext_def.ExtractionType like '%D%' AND dataset_specs.Required = 1
'''

cursor.execute(sql_query)

cur_data = cursor.fetchall()

In [31]:
print("Total rows are:  ", len(cur_data))

Total rows are:   165

In [38]:
# Print Headers
print("{:<10}{:<20}{:20}".format("ColNo","ColName","ColDesc"))
print("{:<10}{:<20}{:20}".format("-----","-------","-------"))

# Print data
for var_row in cur_data:
    print(var_row.var1)
    #print("{:<10}{:<20}{:20}".format(var_row.var1))

ColNo     ColName             ColDesc
-----     -------             -------
Registration year
Aboriginal Flag
Country of birth code
Cause of death code
Multiple cause of death codes
Multiple cause of death codes
Multiple cause of death codes
Standard Morbidity Record Information
Standard Morbidity Record Information
Standard Morbidity Record Information
Standard Morbidity Record Information
Standard Morbidity Record Information
Standard Morbidity Record Information
Standard Morbidity Record Information
Standard Morbidity Record Information
Standard Morbidity Record Information
Standard Morbidity Record Information
Standard Morbidity Record Information
Standard Morbidity Record Information
Standard Morbidity Record Information
Standard Morbidity Record Information
Subset date of birth
Subset date of birth
Indigenous status
Indigenous status
Marital status
Marital status
Country/State of birth
Country/State of birth
State/Territory of residence
None
Length of stay
Length of stay
Source of referral-location
Source of referral-location
Source of referral-professional
Source of referral
Source of referral
Total leave days
DRG
DRG
DRG
DRG
Days in Intensive Care Unit - ICU
Days in Intensive Care Unit - ICU
MDC
MDC
MDC
MDC
Hours in ICU
Condition Onset Flag
Postcode
Postcode
Principal diagnosis
Principal diagnosis
Principal diagnosis
Co-diagnosis
Co-diagnosis
Co-diagnosis
Additional diagnoses - up to 20
Additional diagnoses - up to 20
Additional diagnoses - up to 20
Admission date
External cause of morbidity
External cause of morbidity
External cause of morbidity
External cause of morbidity
External cause of morbidity
External cause of morbidity
Separation date
Activity code
Activity code
Activity code
Activity code
Activity code
Activity code
Place of occurrence
Place of occurrence
Place of occurrence
Place of occurrence
Place of occurrence
Place of occurrence
Place of occurrence
Principal Procedure
Principal Procedure
Additional procedures - up to 10
Additional procedures - up to 10
Principal procedure date
Additional procedure dates
Standard Emergency Record Information
Standard Emergency Record Information
Standard Emergency Record Information
Standard Emergency Record Information
Standard Emergency Record Information
Standard Emergency Record Information
Standard Emergency Record Information
Standard Emergency Record Information
Standard Emergency Record Information
Standard Emergency Record Information
Standard Emergency Record Information
Standard Emergency Record Information
Standard Emergency Record Information
Subset Date of birth
Age at presentation
Sex
Indigenous Status
Country of birth
Australian state/territory identifier
Postcode
URG classification type
URG Version
Presentation Date/Time
Discharge Date/Time
Registration Year
Sex
Subset date of birth
Subset date of birth
Age
Age
ATI status
ATSI status - doctor
Subset Date of death
Subset Date of death
Subset Date of death
Subset Date of death
Subset Date of death
Country of birth
Born overseas flag
Total time residency in Australian states
Time of occupancy in Western Australia
State Unknown
Previous State
Previous State
Previous State
Previous State
Previous State
Previous State
Previous State
Previous State
Previous State
Previous State
Previous State
Previous State
Previous State
Previous State
Previous State
Previous State
Postcode
Cause of death text
Cause of death text
Cause of death text
Cause of death text
Cause of death text
Cause of death text
Cause of death text
Cause of death text
Full Date of death
Full Date of death
Full Date of death
Full Date of death
Transaction Date
Sex
Status Flag
Status Flag
Postcode