## File Manipulation

In [2]:
import pandas as pd

## 1. Load Data from CSV

In [13]:
full_file_path_input = 'c:/Users/he157349/source/repos/learning/python/pandas/admi.csv'
full_file_path_output = 'c:/Users/he157349/source/repos/learning/python/pandas/admi_modified.csv'

In [ ]:
# load data from csv file with header row and no index column
# If the file is not found, it will raise a FileNotFoundError   

df = pd.read_csv(full_file_path_input, header=0, index_col=None)

## 2. Show file info

In [ ]:
# Show header of the DataFrame
df.head()

In [6]:
# Show header row in a list
header_row = df.columns.tolist()
print(header_row)

['username', 'completed', 'ExpSalTot', 'histExpSalTot', 'ExpNonSalTot', 'histExpNonSalTot', 'Deprec', 'histDeprec', 'HitHNBeds', 'histHitHNBeds', 'AdmiNBeds', 'histAdmiNBeds', 'MHCareDays', 'histMHCareDays', 'NSeps', 'histNSeps', 'StdsReviewSt', 'comments_admi', 'action_required_start_setting_1', 'AdmiId', 'AdmiName', 'AdmiOccupancyRange', 'AdmiOccupancyRangeCA', 'considered_complete', 'fin_year', 'histHITHNBeds', 'histLHNID', 'histStdsReviewSt', 'HITHNBeds', 'HospId', 'known-warning', 'LHNID', 'OrgId', 'org_session_key', 'parent_session_key', 'ProgType', 'RecType', 'RegId', 'State', 'TargetPop', 'timestamp', 'page', 'path', 'scope_stack', 'session_key']

## 3. Remove Columns

In [8]:
# Remove columns HitHNBeds, histHitHNBeds
df.drop(columns=['HitHNBeds', 'histHitHNBeds'], inplace=True)

## 4. Rename existing columns

In [9]:
# Rename column histHITHNBeds to histHitHNBeds
df.rename(columns={'histHITHNBeds': 'histHitHNBeds'}, inplace=True)

In [10]:
# Rename column histHITHNBeds to HitHNBeds
df.rename(columns={'HITHNBeds': 'HitHNBeds'}, inplace=True)

## 5. Check Results of file manipulation

In [11]:
# Show header of the DataFrame
df.head()

,username,completed,ExpSalTot,histExpSalTot,ExpNonSalTot,histExpNonSalTot,Deprec,histDeprec,AdmiNBeds,histAdmiNBeds,...,ProgType,RecType,RegId,State,TargetPop,timestamp,page,path,scope_stack,session_key
0,MHCWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,10.0,...,1,ADMI,99,5,2,NaN,NaN,NaN,NaN,4777c7be-823c-11f0-baa5-a6992e6748f9
1,MHCWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.9,9.9,...,2,ADMI,99,5,4,NaN,NaN,NaN,NaN,4777c76f-823c-11f0-baa5-876a3ab026cf
2,MHCWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,20.0,...,1,ADMI,99,5,4,NaN,NaN,NaN,NaN,4777c71e-823c-11f0-baa5-d1ca30549379
3,MHCWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,10.0,...,1,ADMI,98,5,2,NaN,NaN,NaN,NaN,4777c6d0-823c-11f0-baa5-843d0b25339b
4,MHCWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.9,9.9,...,2,ADMI,98,5,4,NaN,NaN,NaN,NaN,4777c67e-823c-11f0-baa5-e740c7b98ee6

In [12]:
# Show header row in a list
header_row = df.columns.tolist()
print(header_row)

['username', 'completed', 'ExpSalTot', 'histExpSalTot', 'ExpNonSalTot', 'histExpNonSalTot', 'Deprec', 'histDeprec', 'AdmiNBeds', 'histAdmiNBeds', 'MHCareDays', 'histMHCareDays', 'NSeps', 'histNSeps', 'StdsReviewSt', 'comments_admi', 'action_required_start_setting_1', 'AdmiId', 'AdmiName', 'AdmiOccupancyRange', 'AdmiOccupancyRangeCA', 'considered_complete', 'fin_year', 'histHitHNBeds', 'histLHNID', 'histStdsReviewSt', 'HitHNBeds', 'HospId', 'known-warning', 'LHNID', 'OrgId', 'org_session_key', 'parent_session_key', 'ProgType', 'RecType', 'RegId', 'State', 'TargetPop', 'timestamp', 'page', 'path', 'scope_stack', 'session_key']

## 6. Save Results to File

In [14]:
# Save df to file
df.to_csv(full_file_path_output, index=False, header=True)